<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
    <targets async="true">
      <target name="file" xsi:type="File" fileName="${basedir}/SecurityMonitorService.${shortdate}.log" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} ${uppercase:${level}} ${logger} [${ndc}] ${message:exceptionSeparator=---&gt;:withException=true}" />
      <target name="debugger" xsi:type="Debugger" layout="${time} ${uppercase:${level}} ${logger} [${ndc}] ${message:exceptionSeparator=---&gt;:withException=true}" />
    </targets>
    <rules>
      
   add your logging rules here 
  
      <logger name="*" minlevel="Trace" writeTo="file,debugger" />
    </rules>
  </nlog>

  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <clear />
        <add name="SBSTracer" type="NLog.NLogTraceListener, NLog" />
      </listeners>
    </trace>
  </system.diagnostics>
<appSettings>
    <add key="RemoteIP" value="\\10.107.100.80"/>
    <add key="RemoteUserName" value="Administrator"/>
    <add key="RemotePassword" value="@ctive123"/>
    <add key="RemoteFilePath" value="\\10.107.100.80\Debug"/>
    <add key="RemoteFileName" value="Dev.txt,real.txt"/>
    <add key="DownLoadFileDir" value="D:\Test"/>
    <add key="Interval" value="15000"/>
    <add key="DataSource" value="DB"/>
    <add key="DBConnection" value="TXT"/>
    <add key="IsParaseData" value="False"/>
    <add key="IsOpenLog" value="False"/>
    <add key="IsDummyData" value="False"/>
  </appSettings>
</configuration>